<mat-toolbar color="warn" class="navbar">
    <button style="font-size : 25px" mat-button [routerLink]="['']">Hospital</button>
    <button mat-button  [routerLink]="['hospital-map']">Hospital complex map</button>
    <button mat-button  [routerLink]="['moving-equipment']">Moving equipment</button>
    <button mat-button  [routerLink]="['feedback-view']">All feedbacks</button>
    <button mat-button  [routerLink]="['survey-observation']">Survey statistics</button>
    <button mat-button  [routerLink]="['urgent-procurement']">Urgent procurement</button>
    <button mat-button  [routerLink]="['promotions']">Promotions</button>
    <button mat-button  [routerLink]="['malicious-patients']">Block patient</button>
    <span class="example-spacer"></span>
    <button mat-raised-button>Log in</button>
</mat-toolbar>
