

<mat-tab-group mat-stretch-tabs>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">person</mat-icon>
            Personal info
        </ng-template>
        <mat-list>
            <mat-list-item>
                Name:
                <label>{{patientModel.name}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Surname:
                <label>{{patientModel.surname}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Parent name:
                <label>{{patientModel.parentName}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Birth date:
                <label>{{patientModel.birthDate | date:'mediumDate'}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Address:
                <label>{{patientModel.address}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Phone number:
                <label>{{patientModel.phone}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Employment status:
                <label>{{patientModel.employmentStatus}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Gender:
                <label>{{patientModel.gender}}</label>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">settings</mat-icon>
            Account info
        </ng-template>

        
        <mat-list>
            
            
            <div *ngIf="patientWithPicture.profilePicture != '' ">
                <mat-list-item>
                    Profile picture:
                </mat-list-item>
                <mat-divider></mat-divider>
                <img class="pic" src="{{patientWithPicture.profilePicture}}">
                <mat-divider></mat-divider>
            </div>

            <mat-list-item>
                Username:
                <label>{{patientModel.username}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                E-mail:
                <label>{{patientModel.email}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">local_hospital</mat-icon>
            Medical info
        </ng-template>

        <mat-list>
            <mat-list-item>
                Allergens:
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let allergen of patientModel.allergens">
                {{allergen.name}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Preffered doctor:
                <label>{{patientModel.doctorDTO.name + ' ' + patientModel.doctorDTO.surname}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                Blood type:
                <label>{{patientModel.bloodType}}</label>
            </mat-list-item>

        </mat-list>
        
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">local_hospital</mat-icon>
            Appointments info
        </ng-template>
        <app-appointments 
            [id] = "patientModel.id"></app-appointments >      
        
    </mat-tab>
</mat-tab-group>

