<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/Health-Care-Clinic/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
	</packageSources>
	<packageSourceCredetials>
		<add key="Username" value="VladimirJ123"/>
		<add key="Password" value="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"/>
	</packageSourceCredetials>
</configuration>