<div class="position">
    <h1>Recommendation scheduling</h1>
    
    <div style="margin-top: 30px;">
        <mat-form-field appearance="fill" style="width: 400px;">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [min]="minDate" [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field> 
    </div>
    <div style="margin-top: 20px;">
        <mat-form-field appearance="fill" style="width: 400px;">
            <mat-label>Preffered doctor</mat-label>
            <mat-select [(ngModel)]="dto.doctorId" >
                <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{doctor.name}} {{doctor.surname}} - {{doctor.specialty}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="margin-top: 40px;">
        <mat-radio-group label-position="before">
            <mat-label><b>Priority:</b></mat-label>
            <mat-radio-button style="padding-left: 40px;" value="Doctor" (change)="getAvailableTerms('Doctor')">Doctor</mat-radio-button>
            <mat-radio-button style="padding-left: 30px;" value="DateRange" (change)="getAvailableTerms('DateRange')">Date range</mat-radio-button>
        </mat-radio-group>
    </div>

    <div style="margin-top: 40px;" id="termsForDoctorAsPriorityDiv">
        <mat-label>List of available terms</mat-label>
        <mat-list role="list">
            <mat-list-item style="cursor: pointer" role="listitem" *ngFor="let term of termsForDoctorAsPriority" (click)="schedule(term)">
                {{term}}
            </mat-list-item>
        </mat-list>
    </div>

    <div style="margin-top: 40px;" id="termsForDateRangeAsPriorityDiv">
        <mat-label>List of available terms</mat-label>
        <mat-list role="list" *ngFor="let termsInDateRangeForOneDoctor of termsForDateRangeAsPriority.termsInDateRangeForDoctors">
            <mat-list-item role="listitem">
                {{ termsInDateRangeForOneDoctor.doctor.name }} {{ termsInDateRangeForOneDoctor.doctor.surname }}
            </mat-list-item>
            <mat-list role="list">
                <mat-list-item style="cursor: pointer;" role="listitem" *ngFor="let term of termsInDateRangeForOneDoctor.terms" (click)="schedule(term)">
                    {{ term }}
                </mat-list-item>
            </mat-list>
        </mat-list>
    </div>
</div>
