mat-button {
    color: primary;
}

h1 {
    text-align: center;
    font-size: 44px; 
}

p {
    font-size: 18px;
}

.feedback-card {
    width: 200px;
    max-height: 300px;
    /* height: 300px; */
    margin-left: 13%;
    margin-top: 5%;
  }

.carousel-position {
    margin-top: 4%;
    margin-left: 18%;
    margin-right: 18%;
    width: 66%;
}

.carousel-cell img:first-of-type { 
    display: none; 
}


::ng-deep .carousel-dot {
      border: 1px solid #777 !important;
    }
  
::ng-deep  .carousel-dot-active {
      background-color: #777 !important;;
    }

.promotionCard {
    background: transparent;
    border-radius: 25px;
    background: antiquewhite;
    opacity: 0.8;
}


.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-card-items {
    display: flex;
    justify-content: center;
    align-items: center;    
}
  
.background1 {
    background-image: url('https://images.pexels.com/photos/3769151/pexels-photo-3769151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: 100%;
    background-position: center;
}

.background2 {
    background-image: url('https://images.pexels.com/photos/127873/pexels-photo-127873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: 100%;
    background-position: center;
}

.background3 {
    background-image: url('https://images.pexels.com/photos/2383010/pexels-photo-2383010.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: 100%;
    /* background-position: center; */
}

.background4 {
    background-image: url('https://images.pexels.com/photos/3985163/pexels-photo-3985163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: 100%;
    background-position: center;
}

.background5 {
    background-image: url('https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: 100%;
    background-position: center;
}
