<div [style.height]="500">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="5000" color="warn" maxWidth="auto" [proportion]="25" [slides]="5"
                [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000040"
                [hideOverlay]="false">        
    </mat-carousel-slide>
    </mat-carousel>
  </div>  

<div>
    <h1 class="mat-display-3" style="margin-top: 3%;">About us</h1>
    <p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
        The founders of Hospital Medical Center believed that a quality hospital should
         be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
         to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
         in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
         worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
         the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
   </p>
   <p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
    The founders of Hospital Medical Center believed that a quality hospital should
     be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
     to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
     in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
     worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
     the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
</p>
<p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
    The founders of Hospital Medical Center believed that a quality hospital should
     be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
     to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
     in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
     worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
     the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
</p>
<p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
    The founders of Hospital Medical Center believed that a quality hospital should
     be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
     to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
     in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
     worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
     the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
</p>
<p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
    The founders of Hospital Medical Center believed that a quality hospital should
     be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
     to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
     in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
     worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
     the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
</p>
   <p style="margin-left: 20%; margin-right: 20%;">
        Please check our online services for more information and feel pleasent to contact us!
    </p>

    <h1 style="margin-top: 5%;">What our patients think about us</h1>


    <carousel [margin]="0" [minSwipeDistance]="400" [cellsToShow]="4" [dots]="true" arrowsTheme="dark" class="carousel-position" 
        transitionTimingFunction="ease-in" [counter]="true" [height]="250" [cellsToScroll]="1">
        <div class="carousel-cell" *ngFor="let feedback of feedbacks">
            <mat-card class="feedback-card">        
                <mat-card-title>
                    <span matBadge="N" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="before" >{{feedback.identity}}</span>
                </mat-card-title>
                <mat-card-content>
                    {{feedback.text}}
                </mat-card-content>
                <mat-card-actions align="end">
                    <button (click)="openFeedbackDialog(feedback)" mat-button>Read more</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </carousel>
    



    <!-- <div class="carousel-position">
        <mat-carousel timings="250ms ease-in" [autoplay]="false" color="accent" maxWidth="auto"  [loop]="true"
         [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr" [lazyLoad]="true">
          <mat-carousel-slide #matCarouselSlide *ngFor="let feedback of feedbacks; let i = index" overlayColor="" [hideOverlay]="false">
            <mat-card class="feedback-card">        
                <mat-card-title>
                    <span matBadge="N" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="before" >{{feedback.user}}</span>
                </mat-card-title>
                <mat-card-content>
                    {{feedback.content}}
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button>Read more</button>
                </mat-card-actions>
            </mat-card>              
          </mat-carousel-slide>
        </mat-carousel>
      </div> -->
</div>