<div>
    <h1 class="mat-display-3" style="margin-top: 6%;">About us</h1>
    <p class="mat-body-2" style="margin-left: 20%; margin-right: 20%;">
        The founders of Hospital Medical Center believed that a quality hospital should
         be a teaching hospital and that physicians who participate in ongoing medical education maintain their knowledge of advances in medicine and rise 
         to the challenges set by inquisitive students. Hospital Medical Center’s Family Practice Residency Program is one of the oldest and most respected 
         in the nation. The residency program is consistently successful in attracting the best and brightest medical students from the finest medical schools 
         worldwide. Each year, a large percentage of Hospital Medical Center graduates choose to remain in the hospital’s service area. This has resulted in 
         the continuous renewal of the medical philosophy of the importance of primary care and sustained the unique synergy between the hospital and its specialists.
   </p>
   <p style="margin-left: 20%; margin-right: 20%;">
        Please check our online services for more information and feel pleasent to contact us!
    </p>

    <h1 style="margin-top: 5%;">What our patients think about us</h1>


    
</div>