/* form {
  display: table;
  width: 800px;
}

p {
  display: table-row;
}

mat-form-field {
  display: table-cell;
  width: 50%;
  padding: 10px;
}

button {
  margin:auto;
  display:block;
} */

form {
  width: 800px;
}

mat-form-field {
  width: 300px;
  padding-top: 10px;
}


mat-radio-button {
  margin-left: 16px;
  display: inline-block;
}

ul {
  column-count:2;
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
}

ul li {
  display: block;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}