<div class="row">
    <div class="col-6">
        <div>
            <h1>Step 1: Select the equipment that you want to move</h1>
            <form (ngSubmit)="onSubmit()">
                <select id="select1">
                    <option *ngFor='let e of equipmentNames' value="{{e}}">{{e}}</option>
                </select>
                <button type="submit" id="next1">Next</button>
            </form>
        </div>
        <div>
            <h1>Step 2: Select the room from which equipment is moved</h1>
            <form (ngSubmit)="onSubmit2()">
                <select id="select2">
                    <option *ngFor='let e of roomsWithEquipment' value="{{e.roomId}}">Room: {{e.roomId}}, quantity of {{selectedEquipment}}: {{e.quantity}}</option>
                </select>
                <button type="submit" id="next2">Next</button>
                <button id="back1" (click)="back1()">Back to step 1</button>
            </form>
        </div>
        <div>
            <h1>Step 3: Select the quantity of equipment that you want to move</h1>
            <form (ngSubmit)="onSubmit3()">
                <input id="select3" type="number" min=1 max={{maxQuantity}} onKeyDown="return false"/>
                <button type="submit" id="next3">Next</button>
                <button id="back2" (click)="back2()">Back to step 2</button>
            </form>
        </div>
        <div>
            <h1>Step 4: Select the destination room to move equipment</h1>
            <form (ngSubmit)="onSubmit4()">
                <select id="select4">
                    <option *ngFor='let e of roomsWithEquipmentDst' value="{{e.roomId}}">Room: {{e.roomId}}</option>
                </select>
                <button type="submit" id="next4">Next</button>
                <button id="back3" (click)="back3()">Back to step 3</button>
            </form>
        </div>
        <div>
            <h1>Step 5: Choose till when and duration(in minutes) of the process</h1>
            <form (ngSubmit)="onSubmit5()" >
                <input type="datetime-local" id="date" name="dateofprocess" [(ngModel)]="selectedDate">
                <select id="select5" style="margin-left: 10px; margin-right: 10px;">
                    <option value="15"> 15 </option>
                    <option value="30"> 30 </option>
                    <option value="45"> 45 </option>
                    <option value="60"> 60 </option>
                    <option value="90"> 90 </option>
                    <option value="120"> 120 </option>
                    <option value="150"> 150 </option>
                    <option value="180"> 180 </option>
                </select>
                <button type="submit" id="next5">Next</button>
                <button id="back4" (click)="back4()">Back to step 4</button>
            </form>
        </div>
    </div>
    <div class="col-6">
        <h1>Step 6: Select time when you want to finish your process</h1>
        <form (ngSubmit)="onFinish()" >
            <table style="font-size: 20px;" id="tableTransfer">
                <tr style="margin-bottom: 20px;">
                <th></th>
                <th>Time</th>
                </tr>
                
                <tr *ngFor="let t of freeTerms; let indexOfelement = index; " [attr.data-index]="indexOfelement">
                    <td> <input type="radio" id="html" name="fav_language" value="{{indexOfelement}}" [(ngModel)]="radioInput"> </td>
                    <td style="margin-right: 20px;"> {{t}} </td>
                </tr>
            </table>

            <button type="submit" id="finish" style="margin-top: 20px;">Finish</button>
            <button id="back5" (click)="back5()">Back to step 5</button>
        </form>
    </div>
</div>