<div id="tableDiv">
    <div style="height: 30px;"></div>
    <table style="border: 1px solid black;width: 100%;">
        <thead style="background-color: #d3955f;">
            <tr>
                <th style="border: 1px solid black;"><b>Date</b></th>
            </tr>
        </thead>
        <tbody style="background-color: #52DEE5;">
            <tr *ngFor="let onCallShift of onCallShifts;let i = index;">
                <td style="border: 1px solid black;"><b>{{onCallShift.date | date:'dd.MM.yyyy'}}</b></td>
            </tr>
            <tr>
                <td> <button [routerLink]="['/new-on-call-shift', OnCallShiftId]">Add on call shift</button> </td>
            </tr>
        </tbody>
    </table>
</div>