<div style="padding-top: 60px;">

</div>
<h1 style="margin-left:auto; margin-right:auto; display:block;text-align:center;">{{building.name}}</h1>
<div style="margin-left:auto; margin-right:auto; display:flex;align-content:center;">
    <div style="margin-right:30px;">
        <ul class="vertical-nav" *ngFor="let floor of floors">
            <li [ngStyle]="{'background-color': idfString == floor.id ? '#f36f25' : '#495869'}"><a [routerLink]="['/floor', building.id, floor.id]" (click)="selectFloor(floor.id)">{{floor.name}}</a></li>
        </ul>
    </div>
    <svg width="1060" height="430" style="border:1px solid black;background-color:#aa8777;margin-left:auto; margin-right:auto; display:block;"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        
        <g *ngFor="let f of floors">
            <g *ngIf="f.id == floor.id">
                <g *ngFor="let item of rooms">
                    <rect [attr.id]="item.id" rx="20" ry="20" [attr.height]="item.height" [attr.x]="item.x" [attr.y]="item.y" [attr.width]="item.width" (click)="selectRoom(item.id)" 
                    style="stroke:#990000; stroke:black; stroke-width:5; opacity:1; fill:#52DEE5; cursor: pointer;"/>
                    <text [attr.x]="item.x+item.width/2-item.name.length/2*7" [attr.y]="item.y+item.height/2" [attr.width]="item.width" cursor="pointer" (click)="selectRoom(item.id)">{{item.name}}</text>
                </g>
            </g>
        </g>

    </svg>
    <div style="background-color:#aa8777; display:flex; flex-direction: column;justify-content: row; width: 20%;" *ngIf="selectedRoom">
       

        <br>
        <div style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <b>Room type: </b>
            <b *ngIf="!changeSelected">{{selectedRoom.type.toString()}}</b>
            <input *ngIf="changeSelected" value="{{selectedRoom.type}}" disabled/>
        </div>
        
        <br>
        <div style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <b>Room name: </b>
            <b *ngIf="!changeSelected">{{selectedRoom.name}}</b>
            <input *ngIf="changeSelected" value="{{selectedRoom.name}}" id="roomNameHTML"/>
        </div>
                
        <br>
        <div style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <b>Room description: </b>
            <b *ngIf="!changeSelected">{{selectedRoom.description}}</b>
            <input *ngIf="changeSelected" value="{{selectedRoom.description}}" id="roomDescriptionHTML"/>
        </div>
        <div style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <button style="background-color: rgb(255, 255, 110);" (click)="changeRoom()">Change informations</button>
            <br>
            <button style="background-color: green;" (click)="editRoom()" *ngIf="changeSelected">Accept</button>
        </div>
        
        <b ><h3 style="text-align: center;">Equipments</h3></b>
        <div class="tableFixHead">
            <table style="text-align: center; background-color: #52DEE5; border: 1px solid black;">
                <thead>
                    <tr>
                        <th style="border: 1px solid black;"><b>Name</b></th>
                        <th style="border: 1px solid black;"><b>Quantity</b></th>
                        <th style="border: 1px solid black;"><b>Type</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of equipments">
                        <td style="border: 1px solid black;"><b>{{item.name}}</b></td>
                        <td style="border: 1px solid black;"><b>{{item.quantity}}</b></td>
                        <td *ngIf="item.type==0" style="border: 1px solid black;"><b>Static</b></td>
                        <td *ngIf="item.type==1" style="border: 1px solid black;"><b>Dynamic</b></td>
                    </tr>

                </tbody>
            </table>
        </div>
        
        <!--<br>
         <div *ngIf="!wcSelected" style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <b>Room doctor: </b>
            <b *ngIf="!changeSelected">{{selectedRoom.doctor}}</b>
            <input *ngIf="changeSelected" value="{{selectedRoom.doctor}}" id="roomDoctorHTML"/>
        </div>

        <br>
        <div *ngIf="!wcSelected" style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <b>Room work hour: </b>
            <b *ngIf="!changeSelected">{{selectedRoom.workHour}}</b>
            <input *ngIf="changeSelected" value="{{selectedRoom.workHour}}" id="roomWorkHourHTML" type="number" min=0 max=24/>
        </div>
        
        <br> -->
       

    </div>
       
</div>
