div {
    width: 500px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

#tableDiv table {
    width: 100%;
}

#tableDiv table thead tr th {
    text-align: center;
}

#tableDiv table tbody tr td {
    text-align: center;
    cursor: pointer;
}