<div>
    <button style="background-color: #BDD5EA;" [routerLink]="['/add-shift']">Add shift</button>
</div>
<div>
    <table style="border: 1px solid black;width: 100%;">
        <thead style="background-color: #d3955f;">
            <tr>
                <th style="border: 1px solid black;"><b>Name</b></th>
                <th style="border: 1px solid black;"><b>Start</b></th>
                <th style="border: 1px solid black;"><b>End</b></th>
            </tr>
        </thead>
        <tbody style="background-color: #52DEE5;">
            <tr *ngFor="let shift of shifts;let i = index;">
                <td style="border: 1px solid black;"><b>{{shift.name}}</b></td>
                <td style="border: 1px solid black;"><b>{{shift.startTime | date:'HH:mm'}}</b></td>
                <td style="border: 1px solid black;"><b>{{shift.endTime | date:'HH:mm'}}</b></td>
            </tr>
        </tbody>
    </table>
</div>