<div class="divBarChart">
    <h1 style="margin-inline: 50px; margin-block: 30px;">
        Ratio of pharmacy wins and participations in tenders
    </h1>
    <canvas id="winParticipateBarChart"></canvas>
</div>

<div class="divPieChart">
    <h1 style="margin-inline: 50px; margin-block: 30px;">
        Ratio of pharmacy wins
    </h1>
    <canvas id="winPieChart"></canvas>
</div>

<div class="divBarChart">
    <h1 style="margin-inline: 50px; margin-block: 30px;">
        Best offer per tender
    </h1>
    <canvas id="bestOfferBarChart"></canvas>
</div>

<button mat-raised-button color="primary" style="margin-left: 45%; margin-bottom: 12px;">Generate PDF</button>