<h2>Patient feedbacks</h2>

<table mat-table [dataSource]="feedbacks" class="mat-elevation-z8" style="width: 70%;">
    <ng-container matColumnDef="identity">
        <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
            <mat-cell *matCellDef="let element" >
              <ng-container *ngIf="!element.isAnonymous">
                    {{element.identity}} 
                </ng-container>
                </mat-cell>
      </ng-container>

      <ng-container style="width: 40%;" matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef> Text content </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publish">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <app-feedback-publish [feedback] = 'row' >
        
          </app-feedback-publish> 
         </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
