<mat-toolbar color="primary" class="navbar">
    <button style="font-size : 25px" mat-button (click)="goToLandingPage()">Hospital</button>
    <button style="margin-left : 25px" mat-button (click)="goToLandingPage()">About us</button>
    <!-- <button mat-button [routerLink]="['survey']">Survey</button> -->
    <button id="createFButton"  *ngIf="role == 'patient'" mat-button (click)="goToFeedbackForm()">Create feedback</button>
    <button *ngIf="role == 'patient'" mat-button (click)="goToMedicalRecord()">Medical record</button>
    <button *ngIf="role == 'patient'" mat-button [matMenuTriggerFor]="menu">Schedule appointment</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['standard-scheduling']" >Standard scheduling</button>
        <button mat-menu-item [routerLink]="['recommendation-scheduling']">Recommendation scheduling</button>
        </mat-menu>
    <span class="example-spacer"></span>
    <button *ngIf="role != 'patient'" mat-button (click)="goToRegistrationForm()">Register</button>
    <button *ngIf="role != 'patient'" mat-raised-button [routerLink]="['login']">Log in</button>
    <button *ngIf="role == 'patient'" mat-raised-button mat-button (click)="logOut()">Log out</button>
</mat-toolbar>
