<mat-toolbar color="primary" class="navbar">
    <button style="font-size : 25px" mat-button (click)="goToLandingPage()">Hospital</button>
    <button style="margin-left : 25px" mat-button (click)="goToLandingPage()">About us</button>
    <button mat-button [routerLink]="['survey']">Survey</button>
    <button mat-button (click)="goToFeedbackForm()">Create feedback</button>
    <span class="example-spacer"></span>
    <button mat-button>Register</button>
    <button mat-raised-button>Log in</button>
</mat-toolbar>
